.features {
  @media (min-width: 1680px) {
    margin: 0% 20% 0% 20%;
  }
  @include breakpoint-up(large) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include breakpoint-up(medium) {
    text-align: left;
  }

  &__intro {
    margin-bottom: 3.75rem;

    @include breakpoint-up(large) {
      width: 60%;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6vw 10vw;
    margin: 0 auto;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      gap: 0vw 0vw;
    }
  }

  &__item {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 0.3rem;
    border-color: #4054b2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    //box-shadow: -10px 8px 0px #c4b5fd;
    margin: 20px 35px 20px 35px;
    padding: 5% 5% 5% 5%;
    &:not(:last-child) {
      padding-bottom: 2.5rem;
    }

    @include breakpoint-up(medium) {
      flex: 0 0 50%;
    }

    @include breakpoint-up(large) {
      flex: 1;
    }
  }

  &__icon {
    display: flex;
    img {
      width: 20%;
    }
    @media (max-width: 480px) {
      img {
        width: 25%;
      }
    }
    @include breakpoint-up(large) {
      margin-bottom: 0.5rem;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.15;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90px;
    color: #0e3257;

    @include breakpoint-up(large) {
      font-size: 2rem;
    }
  }

  &__desc {
    display: flex;
    justify-content: left;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
  }
}

.features-wrapper {
  padding: 60px 0 60px;
  background-color: transparent;
  background-image: url(/assets/img/art_1.png);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 100% 0%;
  @include breakpoint-down(small) {
    background-size: 50%;
  }
}

.services-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  margin-bottom: 0;
  font-size: 2.6rem;
  color: black;
  text-align: center;
}

.divider-wrap {
  margin-top: 20px;
  margin-bottom: 35px;
}

.divider-small-border {
  margin: 25px auto;
}
.divider-small-border {
  //margin: 25px 0;
  width: 20%;
  height: 1px;
  background-color: black;
}

//Vjedhur nga puna :p
 .content-wrapper {
  margin-top: 7.8rem;
  padding-bottom: 5rem;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  @media (max-width: 39.9375em){
    flex-wrap: wrap;
  }
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 992px){
.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}
@media (min-width: 768px){
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 1rem 0 1rem;
}

.content-wrapper .content-heading {
  margin-bottom: 1.6rem;
}

.heading.heading-small, .heading.heading-small>* {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
.light-2, .light-2 * {
  color: #9a9a9a;
}
.heading, .heading>* {
  margin: 0;
}


.text-list.text-list-large li, .text-list.text-list-large a {
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 600;
}

.text-list.text-list-large li, .text-list.text-list-large a {
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 600;
}

.text-list a {
  text-decoration: none;
  position: relative;
  padding-left: 0;
}

@media (min-width: 992px){
.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media (min-width: 768px){
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}

.paragraph, .paragraph>* {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
  margin: 0;
}

.text-about-section .content-wrapper .button {
  margin-top: 2.2rem;
}
