.footer {
  background-color: white;
  font-size: 1rem;
  //padding-top: 3rem;
  padding-bottom: 2rem;
  @include breakpoint-up(large) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media (max-width: 39.9375em){
      margin: 5% 5% 5% 5%;
      padding-bottom: 0rem;
  }
  p {
    text-align: center;
    margin: 2rem 0.5rem 1rem 0.5rem;
    font-size: 0.8rem;
    padding: 0rem 3rem 0rem 3rem;
    color: white;
  }
  a {
    color: white;
  }

  a:hover {
    opacity: var(--buttonDisabledOpacity);
    transition: opacity 0.3s;
    color: #00F6FF;
  }

  .container {
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 0px;
    padding: 0rem 2rem 2rem 2rem;
    margin-top: 3.5rem;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "address" "contact" "links1" "links2" "social";
    background-color: black;
    border-radius: 0.7rem;
    padding-bottom: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    @media (max-width: 39.9375em){
      padding: 2rem 2rem 2rem 2rem;
  }
    @include breakpoint-up(medium) {
      grid-column-gap: 25px;
    }

    @include breakpoint-up(large) {
      grid-column-gap: 35px;
      grid-template-columns: 3fr 2fr 2fr 2fr auto;
      grid-template-rows: 30px 1fr;
      grid-template-areas: "logo logo logo logo logo" "address contact links1 links2 social";
    }

    @include breakpoint-up(xlarge) {
      grid-column-gap: 60px;
    }
  }

  &__logo {
    font-size: 1.25rem;
    @include breakpoint-up(large) {
      grid-area: logo;
    }
  }

  &__address {
    grid-area: address;
    display: flex;
    color: white;
    justify-content: center;
    margin-right: 5%;

    svg {
      flex: 0 0 13px;
      margin-top: 3px;
      margin-right: 10px;
    }
  }

  &__contact {
    grid-area: contact;
    justify-content: center;
    margin-right: 5%;

    @include breakpoint-up(large) {
      justify-self: right;
    }

    a {
      font-size: 1rem;
    }

    &-phone,
    &-email {
      display: flex;
      justify-content: center;
    }

    &-phone {
      margin-bottom: 20px;
    }

    &-phone svg {
      width: 18px;
      margin-right: 10px;
    }

    &-email svg {
      width: 20px;
      margin-right: 10px;
    }
  }

  &__links1,
  &__links2 {
    a {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__links1 {
    grid-area: links1;
    font-weight: 700;

    @include breakpoint-up(large) {
      justify-self: right;
    }
  }

  &__links2 {
    grid-area: links2;
    font-weight: 700;
  }

  &__social {
    grid-area: social;
    justify-self: center;

    @include breakpoint-up(medium) {
      justify-self: start;
    }

    svg {
      width: 35px;
      height: 35px;
      border: 1px solid #000000;
      border-radius: 50%;
      padding: 8px;
      fill: #000000;
      margin-right: 16px;
      transition: all 150ms ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        fill: white;
      }
    }
  }
}
