li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Sticky Nav */
.sticky {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.3em;

  span {
    color: var(--primary-color);
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
}
@include breakpoint-up(medium) {
  .nav-container {
    width: 1080px;
    margin: 0 auto;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: transparent;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2.5rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

.nav-link:hover {
  color: var(--primary-color);
}

.go-premium-cta a {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  border-radius: 5em;
  margin-top: -0.2em;
  margin-left: 2.5rem;
  padding: 0.2rem 1rem;

  &:hover {
    background: var(--primary-color);
    color: white;
  }
}

.current {
  color: var(--primary-color);
}

.bg-scrolling {
  background: white;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* LANGUAGE SWITCHER */
.languageSwitcher {
  margin-left: 1rem;
  margin-top: -1rem;
  background-color: transparent;
  padding: 0;
}
/* ui-dropdown-list */

.ui-dropdown-list {
  position: relative;
}

p.ui-dropdown-list-trigger {
  margin-top: 0;
}

.ui-dropdown-list-trigger strong {
  position: relative;
  z-index: 999;
}

.ui-dropdown-list-trigger strong:after {
  display: block;
  position: absolute;
  content: "";
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}

.ui-dropdown-list-trigger strong,
.ui-dropdown-list ul a {
  display: block;
  width: 40px;
  cursor: pointer;
  padding: 6px 3px;
  font-size: 13px;
  line-height: 13px;
  color: #000;
  font-weight: normal;
}

.ui-dropdown-list ul {
  display: none;
  position: absolute;
  right: 0;
  top: 25px;
  margin-top: 0;
  padding: 0;
  z-index: 1000;
}

.ui-dropdown-list li {
  list-style-type: none;
}

.ui-dropdown-list ul a,
.ui-dropdown-list ul a:link,
.ui-dropdown-list ul a:visited {
  position: relative;
  display: block;
  float: right;
}

.ui-dropdown-list ul a:hover,
.ui-dropdown-list ul a:focus {
  border-bottom: none;
  color: #000;
}

/* JS interactivity */
.no-js .ui-dropdown-list ul,
.ui-dropdown-list.active ul {
  display: block;
}

.ui-dropdown-list.active strong:after {
  border-top-color: #000;
}
.ui-dropdown-list strong {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  transition: 0.3s;
}
.ui-dropdown-list strong:hover {
  border-color: #000;
}

.ui-dropdown-list.active strong {
  border-style: solid;
  border-color: #000;
  border-width: 1px 1px 0 1px;
  transition: 0s;
}
.ui-dropdown-list.active ul {
  border-style: solid;
  border-color: #000;
  border-width: 0 1px 1px 1px;
}

#lang-switcher a,
#lang-switcher strong {
  padding-left: 5px;
  background-color: transparent;
  font-weight: 700;
  font-size: 1rem;
}

#lang-switcher strong {
  float: right;
}
@media (min-width: 768px) {
  .lang-mobile {
    display: none;
  }
}
@media (max-width: 740px) {
  .languageSwitcher {
    display: none;
  }
  .lang-mobile {
    font-size: 1.15rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 2px solid black;
    border-top-width: 5px;
    color: black;
    padding-top: 0.5rem;
  }

  .lang-mobile:hover {
    color: var(--primary-color);
  }
  .lang-mobile img {
    //width: 1.5rem;
    height: 1.2rem;
  }
  .go-premium-cta {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navbar a {
    //color: black;
    font-size: 1.3em;
    padding: 0.1em 1em;
  }
  .navbar.container {
    display: grid;
    grid-template-columns: 180px auto;
  }
  .nav-menu {
    position: fixed;
    left: 100%;
    top: 4rem;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: 0.3s;
    z-index: 999;
  }

  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-left: 6.5rem;
  }
  @media (max-width: 375px) {
    .hamburger {
      margin-left: 5.5rem;
    }
  }

  @media (max-width: 320px) {
    .hamburger {
      margin-left: 1rem;
    }
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
