a {
  display: inline-blesock;
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.projects-image {
  width: 55%;
  max-width: 100%;
  vertical-align: middle;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

@mixin outline {
  outline: 1px solid red;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin tablet {
  @media (max-width: 600px) {
    @content;
  }
}

.project-container {
  max-width: 85.5rem;
  margin: 3.125rem auto;
  padding-right: 5rem;
}

.project {
  margin: 1.875rem;
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;

  @media screen and (max-width: 768px) {
    align-items: flex-start;
  }
}
.project-content {
  position: relative;
  grid-column: 4 / 7;
  grid-row: 1 / -1;

  @include tablet {
    grid-column: 1 / -1;
    padding: 1.875rem;
  }

  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--accent-color);
    letter-spacing: 0.3em;
  }
  .project-title {
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0.625rem 0 1.875rem;
    color: var(--link-color);
    line-height: 1;
    &:hover {
      opacity: var(--buttonDisabledOpacity);
    }
  }
  .project-details {
    font-size: 0.9375rem;
    line-height: 1.5;
    color: white;

    p {
      background-color: var(--title-color);
      opacity: var(--buttonDisabledOpacity);
      padding: 1.25rem 1.5625rem;
      @include tablet {
        background-color: transparent;
        padding: 1.25rem 0;
        color: black;
        font-weight: 700;
        font-size: 1rem;
      }
    }

    ul {
      display: flex;
      margin-top: 1.25rem;

      li {
        margin-right: 1.25rem;
        border-width: 1px 1px 1px 1px;
        border-radius: 0.2rem;
        padding: 0.5rem;
        background-color: var(--button-color);
        cursor: pointer;
        &:hover {
          opacity: var(--buttonDisabledOpacity);
        }
      }
      a {
        color: white;
      }
    }
  }
}

.project-img {
  position: relative;
  z-index: -1;
  //background-color: #64ffda;
  //background: linear-gradient(0.4turn, #64ffda, #64ff8d);
  border-radius: 2px;
  grid-column: 8 / -1;
  grid-row: 1 / -1;

  @media screen and (max-width: 768px) {
    height: 100%;
  }
  @include tablet {
    grid-column: 1 / -1;
    opacity: 0.25;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    //background-color: #0a192f;
    mix-blend-mode: screen;
    border-radius: 2px;
  }

  img {
    border-radius: 2px;
    position: relative;

    @media screen and (max-width: 768px) {
      object-fit: cover;
      width: auto;
      height: 100%;
    }
  }
}
