@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "mixins";
@import "contact";
@import "nav";
@import "features";
@import "ourwork";
@import "fadein";

:root {
  --primary-color: #5722cd;
  --text-color: #425466;
  --header-title-color: #3a3a3a;
  --title-color: #0a2540;
  --accent-color: #635bff;
  --button-color: #0a2540;
  --button-hover-color: #635bff;
  --buttonDisabledOpacity: 0.7;
  --linkHoverOpacity: 0.6;
  --link-color: #0a2540;
  --linkHoverColor: #0a2540;
  --bg-color: #f8f8ff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  margin: 0;
  font-family: "Poppins";
  overflow-x: hidden;
}
#bg-white {
  background: white;
}
.hero .container {
  padding-top: 2rem;
}

a {
  color: #444444;
}

p {
  margin: 0px 0px 16px 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 2em 1em;
}

.hero {
  text-align: center;
}

.about-page {
  padding: 0;
  margin: 0 auto;
}

.gradient-text {
  background: -webkit-linear-gradient(var(--accent-color), var(--title-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-typerwriter {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left-col {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 0.3em;
  }

  .hero-subhead {
    color: white;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
    color: var(--header-title-color);
  }

  .primary-cta {
    background: var(--button-color);
    color: white;
    text-decoration: none;
    padding: 0.4em 1em;
    font-size: 1.3em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
    &:hover {
      //background: var(--button-hover-color);
      opacity: var(--buttonDisabledOpacity);
      transition: background 0.2s ease-in-out;
    }
  }
}

.hero-img {
  width: 30%;
  margin-top: 3em;
}

.main-img {
  width: 30%;
  margin-top: 3em;
  margin-right: -0.5em;
}

h2 {
  font-size: 3em;
  color: var(--header-title-color);
}
h3 {
  font-weight: 400;
  color: var(--text-color);
}
hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  width: 85%;
}
hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: transparent;
}

.error-page {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  //color: var(--title-color);
}
.error-page-head {
  font-size: 6rem;
  font-weight: 700;
  padding: 0;
  margin: 0 auto;
  background: -webkit-linear-gradient(#ffffff, #6284ff, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.error-btn {
  background: var(--button-color);
  color: white;
  text-decoration: none;
  border-radius: 2em;
  font-weight: bold;
  display: inline-block;
  margin-top: 2rem;
  &:hover {
    //background: var(--button-hover-color);
    opacity: var(--buttonDisabledOpacity);
    transition: background 0.2s ease-in-out;
  }
}

.about-h2 {
  line-height: 1.3em;
}
@include breakpoint-down(small) {
  .hero .container {
    padding-top: 6.5rem;
  }
  .hero-img {
    display: none;
  }
  .hero-vid {
    display: none;
  }
  .main-img {
    display: none;
  }
  .hero-cta {
    padding-top: 4rem;
  }
  .left-col .primary-cta {
    padding: 1rem 3.5rem;
  }
  .left-col h1 {
    padding-top: 2rem;
  }
}
@include breakpoint-up(large) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }

  section {
    padding: 4em 2em;
  }

  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;

    .left-col {
      margin: 3em 3em 0 5em;

      h1 {
        font-size: 3em;
        width: 90%;
      }
    }
  }

  .hero-img {
    width: 35%;
    margin-right: 0.1em;
  }

  .hero-vid {
    width: 50%;
    margin-right: 0.1em;
  }

  .hero-cta {
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
}
.hero-vid {
  width: 40%;
  margin-top: 3em;
  //overflow: hidden;
}
/* Sroll back to top button */
#myBtn {
  background-color: transparent;
  display: none;
  position: fixed;
  bottom: 2.5rem;
  right: 2.1875rem;
  z-index: 99;
  cursor: pointer;
  &:hover {
    opacity: var(--buttonDisabledOpacity);
  }
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 12px;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}
.wrapper {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 95%, 0 100%);
}
/*
.noise-wrapper {
  background-image: url("/images/assets/noise-texture.png");
  background-position: top center;
  background-size: auto;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
*/

/* Text Slider */
.slider-wrapper {
  font-size: 40px;
  color: #aaa;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 70px;
  //padding-left: 15px;
  overflow: hidden;
}
.slider div {
  //color: #fff;
  height: 60px;
  margin-bottom: 40px;
  //padding: 2px 15px;
  //text-align: center;
  box-sizing: border-box;
}
.slider-text1 {
  //background: lightgreen;
  animation: slide 6s linear infinite;
}
.slider-text2 {
  //background: skyblue;
}
.slider-text3 {
  //background: lightcoral;
}
@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
