@import "mixins";
@import "contact";
@import "nav";
@import "features";
@import "ourwork";
@import "fadein";
@import "footer";
@import "pricing";

:root {
  --primary-color: #5722cd;
  --text-color: #425466;
  --header-title-color: #3a3a3a;
  --title-color: #0a2540;
  --accent-color: #635bff;
  --button-color: #0a2540;
  --button-hover-color: #635bff;
  --buttonDisabledOpacity: 0.7;
  --linkHoverOpacity: 0.6;
  --link-color: #0a2540;
  --linkHoverColor: #0a2540;
  --bg-color: white;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  margin: 0;
  font-family: "Poppins";
  //overflow-x: hidden;
}
#bg-white {
  background: white;
}
.hero .container {
  padding-top: 5rem;
  margin-top: 2rem;;
}

a {
  color: #444444;
}

p {
  margin: 0px 0px 16px 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 2em 1em;
}

.hero {
  text-align: center;
}

.about-page {
  padding: 0;
  margin: 0 auto;
}
.about-subhead {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3em;
  margin-left: 10px;
  margin-right: 10px;
}
.gradient-text {
  background: -webkit-linear-gradient(var(--accent-color), var(--title-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-col {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 0.3em;
  }

  .hero-subhead {
    color: white;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
    margin-bottom: 2rem;
    color: var(--header-title-color);
  }

  .primary-cta {
    background: var(--button-color);
    color: white;
    text-decoration: none;
    padding: 0.6em 1.5em;
    font-size: 1.3em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
    &:hover {
      //background: var(--button-hover-color);
      opacity: var(--buttonDisabledOpacity);
      transition: background 0.2s ease-in-out;
    }
  }
}

.hero-img {
  width: 30%;
  margin-top: 3em;
}

.main-img {
  width: 30%;
  margin-top: 1em;
  margin-right: -0.5em;
}

h2 {
  font-size: 3em;
  color: var(--header-title-color);
}
h3 {
  font-weight: 400;
  color: var(--text-color);
  margin-left: 10px;
  margin-right: 10px;
}

.error-page {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  color: var(--title-color);
}
.error-page-head {
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
  margin: 5rem 0rem 1rem 0rem;
  background: -webkit-linear-gradient(#ffffff, #6284ff, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.error-btn {
  background: var(--button-color);
  color: white;
  text-decoration: none;
  border-radius: 2em;
  font-weight: bold;
  display: inline-block;
  margin-top: 2rem;
  &:hover {
    //background: var(--button-hover-color);
    opacity: var(--buttonDisabledOpacity);
    transition: background 0.2s ease-in-out;
  }
}

.about-h2 {
  line-height: 1.3em;
  margin-left: 10px;
  margin-right: 10px;
}
@include breakpoint-down(small) {
  .hero .container {
    padding-top: 5.5rem;
  }
  .hero-img {
    display: none;
  }
  .hero-vid {
    display: none;
  }
  .main-img {
    display: none;
  }
  .hero-cta {
    padding-top: 2.5rem;
  }
  .left-col .primary-cta {
    padding: 0.8rem 2rem;
  }
  }
  .left-col h1 {
    padding-top: 4rem;
  }
@include breakpoint-up(large) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }

  section {
    padding: 4em 2em;
  }

  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;

    .left-col {
      margin: 2em 2em 0 3em;

      h1 {
        font-size: 3.7em;
        width: 90%;
      }
    }
  }

  .hero-img {
    width: 35%;
    margin-right: 0.1em;
  }

  .hero-vid {
    width: 50%;
    margin-right: 0.1em;
  }

  .hero-cta {
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
}
.hero-vid {
  width: 40%;
  margin-top: 3em;
  //overflow: hidden;
}
/* Sroll back to top button */
#myBtn {
  background-color: transparent;
  display: none;
  position: fixed;
  bottom: 2.5rem;
  right: 2.1875rem;
  z-index: 99;
  cursor: pointer;
  &:hover {
    opacity: var(--buttonDisabledOpacity);
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 12px;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}
.wrapper {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  clip-path: polygon(0 16%, 100% 0, 100% 92%, 0 100%);
}

.gradient-text-alt {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff4136),
    to(#5b53ff)
  );
  background-image: linear-gradient(90deg, #ff4136, #5b53ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Text Slider */
.slider-wrapper {
  font-size: 40px;
  color: #aaa;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 70px;
  //padding-left: 15px;
  overflow: hidden;
}
.slider div {
  height: 70px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.slider-text1 {
  animation: slide 6s linear infinite;
}
@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

/* hr divider */
.divider {
  position: relative;
  margin-top: 40px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: var(--title-color);
  //border: 1px solid rgb(48, 49, 51);
  border-radius: 50%;
  //box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}

/* Canvas */
.background--custom {
  background-color: transparent;
  width: 100vw;
  height: 120vh;
  position: absolute;
  overflow: hidden;
  z-index: -2;
  top: 0;
  left: 0;
  @media (min-width: 2000px) {
    height: 75vh;
  }
  @media (max-width: 585px) {
    height: 185%;
  }
}
canvas#canvas {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 55%;
  transform: rotate(-12deg) scale(2) translateY(-22%);
  --gradient-color-1: #a960ee;
  --gradient-color-2: #ff333d;
  --gradient-color-3: #90e0ff;
  --gradient-color-4: #ffcb57;
  --gradient-speed: 0.000011;
}

/* Scroll down indicator animation 
.scroll-container {
  width: 30px;
  height: 60px;
  border: 3px solid var(--link-color);
  border-radius: 15px;
  position: relative;
  margin: 0 auto;
}

.scroller {
  width: 18px;
  border-radius: 8px;
  background-color: var(--link-color);
  position: absolute;
  top: 4px;
  left: 6px;
  bottom: 34px;
  animation: scroller 1500ms ease-out infinite;
}

@keyframes scroller {
  0% {
    bottom: 34px;
  }
  5% {
    top: 4px;
  }
  32% {
    bottom: 4px;
  }
  66% {
    top: 34px;
    bottom: 4px;
  }
  100% {
    top: 4px;
    bottom: 34px;
  }
}
*/
