@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "mixins";
@import "contact";
@import "nav";
@import "features";
@import "ourwork";

:root {
  --primary-color: #5722cd;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}

.hero .container {
  padding-top: 2rem;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 2em 1em;
}

.hero {
  text-align: center;
}

.about-page {
  padding: 0;
  margin: 0 auto;
}

.left-col {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: 0.3em;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
  }

  .primary-cta {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
    &:hover {
      background: #4617ac;
      transition: background 0.2s ease-in-out;
    }
  }

  img {
    margin-right: 0.5em;
  }
}

.hero-img {
  width: 30%;
  margin-top: 3em;
}

h2 {
  font-size: 3em;
}
h3 {
  font-weight: 400;
}
hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  width: 85%;
}
hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: transparent;
}

.error-page {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
}
.error-page-head {
  font-size: 6rem;
  font-weight: 700;
  padding: 0;
  margin: 0 auto;
}
.error-btn {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 2em;
  font-weight: bold;
  display: inline-block;
  &:hover {
    background: #4617ac;
    transition: background 0.2s ease-in-out;
  }
}

.about-h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
}

.about-h2 {
  line-height: 1.3em;
}
/* Sticky Nav */
.sticky {
  position: fixed;
  width: 100%;
  z-index: 999;
}

@include breakpoint-down(small) {
  .hero .container {
    padding-top: 6.5rem;
  }
  .seo-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 4rem 0rem 4rem;
    font-size: 1.2rem;
  }
  .hero-img {
    display: none;
  }
  .hero-cta {
    padding-top: 4rem;
  }
  .left-col .primary-cta {
    padding: 1rem 3.5rem;
  }
  .left-col h1 {
    padding-top: 2rem;
  }
}
@include breakpoint-up(large) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }

  section {
    padding: 4em 2em;
  }

  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;

    .left-col {
      margin: 3em 3em 0 5em;

      h1 {
        font-size: 3em;
        width: 90%;
      }
    }
  }

  .hero-img {
    width: 35%;
    margin-right: 0.1em;
  }

  .hero-cta {
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
}

.fadein {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.fadein.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* Sroll back to top button */
#myBtn {
  background-color: transparent;
  display: none;
  position: fixed;
  bottom: 2.5rem;
  right: 2.1875rem;
  z-index: 99;
  cursor: pointer;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 12px;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}
